* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.header .head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr 1fr;
      grid-template-columns: 1fr 6fr 1fr;
  margin: 0 2rem;
  padding-top: 2rem;
}

.header .head h5 {
  font-size: 1.4em;
  color: #000000;
}

.header .head h6 {
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 0.2rem;
  color: #B9B9B9;
}

.header .container {
  margin-top: 4.5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
}

.header .container .content h5 {
  font-size: 1.8em;
  color: #262626;
  text-align: center;
  -webkit-transform: translate(0, 200%);
          transform: translate(0, 200%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header .container .content h5.animationActive {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.header .container .content h6 {
  font-size: 1em;
  color: #838383;
  margin-top: 1%;
  text-align: center;
  -webkit-transform: translate(0, 200%);
          transform: translate(0, 200%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
}

.header .container .content h6.animationActive {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.header .container .btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 1%;
}

.header .container .btns button {
  height: 1.5rem;
  width: 4.5rem;
  border-radius: 1rem;
  border: none;
  font-size: 0.8em;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #000000;
  background-color: #EBEBEB;
  transition: 0.5s;
  -webkit-transform: translate(-150%, 0px);
          transform: translate(-150%, 0px);
}

.header .container .btns button.animationActive {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.header .container .btns button.animationActive:nth-child(3) {
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.header .container .btns button.animationActive:nth-child(2) {
  -webkit-transition: 1.3s;
  transition: 1.3s;
}

.header .container .btns button.animationActive:nth-child(1) {
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.header .container .btns button:hover {
  background-color: #C39F79;
  color: #fff;
}

.header .container button {
  margin: 1rem auto;
  height: 2.5rem;
  width: 8rem;
  background: #fff;
  border: 3px solid #C8A078;
  border-radius: 1rem;
  font-size: 0.8em;
  color: #C8A078;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .container button:hover {
  background-color: #C8A078;
  border: solid 3px #fff;
  color: #fff;
}

.header .imgs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  max-width: 90;
}

.header .imgs img {
  height: 26.4vw;
}

.story {
  margin: 5% 8%;
}

.story .head h5 {
  color: #262626;
  font-size: 1.9em;
  max-width: 30%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
}

.story .head h5.animationActive {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 1;
}

.story .head h6 {
  color: #939393;
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 1rem;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
}

.story .head h6.animationActive {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 1;
}

.story .content {
  max-width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 80% 10%;
      grid-template-rows: 80% 10%;
  -webkit-transform: translate(-200%, 0);
          transform: translate(-200%, 0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
}

.story .content.animationActive {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: 1.6s;
  transition: 1.6s;
  opacity: 1;
}

.story .content img {
  grid-row: span 2;
}

.story .content h6 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 0.9em;
  font-weight: 500;
  color: #888888;
}

.story .content h6 span {
  font-weight: 900;
  color: #000000;
}

.story .content h6:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.story .leftImg {
  position: absolute;
  right: 0;
  margin-top: -20%;
}

.story .leftImg img {
  max-height: 60vh;
}

.close {
  margin: 19% 4%;
}

.close .head {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
}

.close .head.animationActive {
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 1;
}

.close .head h4 {
  color: #262626;
  font-size: 2.3em;
}

.close .head h5 {
  color: #A9A9A9;
  font-size: 1.2em;
  font-weight: 400;
  max-width: 70%;
  margin-top: 1rem;
}

.close .head h6 {
  margin-top: 1rem;
  font-size: 1em;
  color: #262626;
}

.close .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.close .container .person img {
  max-width: 50em;
}

.close .container .person:first-child {
  -ms-grid-column: 2;
  grid-column: 2;
  right: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
}

.close .container .person:first-child.animationActive {
  -webkit-transform: scale(1) translate(150%, 0);
          transform: scale(1) translate(150%, 0);
  -webkit-transition: 1.3s;
  transition: 1.3s;
  opacity: 1;
}

.close .container .person:nth-child(2) {
  -ms-grid-column: 1;
  grid-column: 1;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.close .container .person:nth-child(2).animationActive {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1.3s;
  transition: 1.3s;
  opacity: 1;
}

.close .container .person:nth-child(3) {
  -ms-grid-column: 4;
  grid-column: 4;
  -webkit-transform: translate(150%, 50%);
          transform: translate(150%, 50%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
}

.close .container .person:nth-child(3).animationActive {
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  -webkit-transition: 1.3s;
  transition: 1.3s;
  opacity: 1;
}

.close .container .person:nth-child(4) {
  -ms-grid-column: 3;
  grid-column: 3;
  -webkit-transform: translate(-150%, 50%);
          transform: translate(-150%, 50%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
}

.close .container .person:nth-child(4).animationActive {
  -webkit-transition: 1.8s;
  transition: 1.8s;
  opacity: 1;
}

.client {
  margin: 19% 7%;
}

.client .head {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  opacity: 0;
}

.client .head.animationActive {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.client .head h5 {
  color: #262626;
  font-size: 2.5em;
  text-align: center;
}

.client .head h6 {
  color: #A9A9A9;
  font-size: 1.2em;
  text-align: center;
  margin: 1% 0 4%;
  font-weight: 400;
}

.client .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-left: 15%;
}

.client .container .imgContainer img {
  width: 70%;
}

.client .container .imgContainer h5 {
  font-size: 1em;
  margin-top: 1%;
}

.client .container .imgContainer h6 {
  margin-top: 2%;
  font-size: 0.8em;
  color: #848484;
  max-width: 50%;
}

.client .container .imgContainer a {
  cursor: pointer;
  text-decoration: none;
  color: #262626;
}

.client .container .imgContainer:first-child {
  -webkit-transform: translate(-100%, 90%);
          transform: translate(-100%, 90%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
}

.client .container .imgContainer:first-child.animationActive {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translate(0%, 90%);
          transform: translate(0%, 90%);
  opacity: 1;
}

.client .container .imgContainer:nth-child(2) {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
}

.client .container .imgContainer:nth-child(2).animationActive {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
}

.client .container .imgContainer:last-child {
  -webkit-transform: translate(100%, 110%);
          transform: translate(100%, 110%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
}

.client .container .imgContainer:last-child.animationActive {
  -webkit-transform: translate(-20%, 110%);
          transform: translate(-20%, 110%);
  -webkit-transition: 1.3s;
  transition: 1.3s;
  opacity: 1;
}

.creation {
  margin: 24% 0 0 8%;
}

.creation .head {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.creation .head.animationActive {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.creation .head h5 {
  margin-left: 10%;
  font-size: 2em;
  color: #262626;
}

.creation .head h6 {
  margin-left: 10%;
  margin-top: 1%;
  font-size: 1.2em;
  color: #A9A9A9;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.creation .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1%;
}

.creation .container img {
  height: 100%;
}

.creation .container img:nth-child(2) {
  height: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 45%;
  z-index: 1;
}

.creation .container img:last-child {
  margin-left: 10%;
}

.like {
  margin-top: 5%;
}

.like .head {
  margin-left: 17%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
}

.like .head.animationActive {
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 1;
}

.like .head h5 {
  font-size: 2em;
  color: #262626;
}

.like .head h6 {
  margin-top: 1rem;
  font-size: 1.2em;
  font-weight: 500;
  color: #A9A9A9;
  max-width: 50%;
  letter-spacing: 0.1rem;
}

.like .form {
  margin: 4% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
}

.like .form.animationActive {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 1;
}

.like .form input {
  height: 2rem;
  width: 12rem;
  padding-left: 1rem;
  margin: 0 1%;
  border-radius: 0.4rem;
  border: none;
  background-color: #E5E5E5;
  color: #262626;
}

.like .form input:last-child {
  width: 8rem;
  background-color: #C39F79;
  color: #fff;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  html {
    margin-right: -60%;
  }
  .header .head h5 {
    font-size: 1.5em;
  }
  .header .head h6 {
    font-size: 1.5em;
    margin-top: 0;
    margin-left: 20%;
  }
  .header .container .content h5 {
    font-size: 2.1em;
  }
  .header .container .content h6 {
    font-size: 1.3em;
    color: #838383;
    margin-top: 1%;
    text-align: center;
  }
  .header .container .btns button {
    height: 2.5rem;
    width: 6.5rem;
    font-size: 0.9em;
  }
  .header .imgs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    margin-left: 5%;
  }
  .header .imgs img {
    height: 33.5vw;
  }
  .story {
    margin: 3%;
  }
  .story .head h5 {
    font-size: 2em;
    max-width: 100%;
  }
  .story .head h6 {
    font-size: 1.5em;
    width: 100%;
  }
  .story .content {
    max-width: 100%;
  }
  .story .content img {
    grid-row: span 2;
    height: 80%;
  }
  .story .content h6 {
    margin-top: 45%;
    font-size: 1.5em;
  }
  .story .leftImg img {
    display: none;
  }
  .close {
    margin-bottom: 70%;
  }
  .close .head h4 {
    font-size: 2.8em;
  }
  .close .head h5 {
    font-size: 1.5em;
    max-width: 100%;
  }
  .close .head h6 {
    font-size: 1.3em;
  }
  .close .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .close .container .person:first-child {
    -ms-grid-column: 2;
    grid-column: 2;
    right: 0;
    -webkit-transform: scale(0.5) translate(-50%);
            transform: scale(0.5) translate(-50%);
    opacity: 0;
  }
  .close .container .person:first-child.animationActive {
    -webkit-transform: scale(1) translate(-50%);
            transform: scale(1) translate(-50%);
    -webkit-transition: 1.3s;
    transition: 1.3s;
    opacity: 1;
  }
  .close .container .person:nth-child(2) {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .close .container .person:nth-child(3) {
    -ms-grid-column: 1;
    grid-column: 1;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .close .container .person:nth-child(4) {
    -ms-grid-column: 1;
    grid-column: 1;
    -webkit-transform: translate(0%, 70%);
            transform: translate(0%, 70%);
  }
  .client {
    margin: 19% 1%;
  }
  .client .head h5 {
    font-size: 2.9em;
  }
  .client .head h6 {
    font-size: 1.5em;
  }
  .client .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .client .container .imgContainer {
    margin: 7% 0;
  }
  .client .container .imgContainer img {
    width: 90%;
  }
  .client .container .imgContainer h5 {
    font-size: 1.8em;
    margin-top: 1%;
  }
  .client .container .imgContainer h6 {
    font-size: 1.2em;
    max-width: 100%;
  }
  .client .container .imgContainer a {
    font-size: 1.3em;
  }
  .client .container .imgContainer:first-child {
    -webkit-transform: translate(0, 90%);
            transform: translate(0, 90%);
  }
  .client .container .imgContainer:first-child.animationActive {
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
  }
  .client .container .imgContainer:nth-child(2) {
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
  }
  .client .container .imgContainer:last-child {
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .client .container .imgContainer:last-child.animationActive {
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-transition: 1.3s;
    transition: 1.3s;
    opacity: 1;
  }
  .creation .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 1%;
    margin-left: 12%;
  }
  .creation .container img {
    height: 100%;
  }
  .creation .container img:first-child {
    margin-left: 10%;
  }
  .creation .container img:nth-child(2) {
    height: 100%;
    justify-self: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 0;
    z-index: 1;
  }
  .creation .container img:last-child {
    margin-left: 0%;
    margin-left: -20%;
  }
  .like {
    margin-top: 5%;
  }
  .like .head {
    margin-left: 7%;
  }
  .like .head h5 {
    font-size: 2em;
  }
  .like .head h6 {
    font-size: 1.2em;
    max-width: 100%;
  }
  .like .form {
    margin-left: 7%;
  }
  .like .form input {
    height: 3rem;
    width: 11rem;
    font-size: 0.9em;
  }
  .like .form input:last-child {
    width: 100vw;
    background-color: #C39F79;
    color: #fff;
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    margin-right: -30%;
  }
  .header .head {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 6fr 1fr;
        grid-template-columns: 1fr 6fr 1fr;
    margin: 0 2rem;
    padding-top: 2rem;
  }
  .header .head h5 {
    font-size: 2em;
    color: #000000;
  }
  .header .head h6 {
    font-size: 2em;
    font-weight: 500;
    margin-top: 0.2rem;
    color: #B9B9B9;
  }
  .header .container {
    margin-top: 4.5%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    position: relative;
  }
  .header .container .content h5 {
    font-size: 2.8em;
    color: #262626;
    text-align: center;
  }
  .header .container .content h6 {
    font-size: 1.8em;
    color: #838383;
    margin-top: 1%;
    text-align: center;
  }
  .header .container .btns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 1%;
  }
  .header .container .btns button {
    height: 3.5rem;
    width: 6.5rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #000000;
    background-color: #EBEBEB;
  }
  .header .container .btns button:hover {
    background-color: #C39F79;
    color: #fff;
  }
  .header .container button {
    margin: 1rem auto;
    height: 4.5rem;
    width: 10rem;
    background: #fff;
    border: 3px solid #C8A078;
    border-radius: 1rem;
    font-size: 1.5em;
    color: #C8A078;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header .container button:hover {
    background-color: #C8A078;
    border: solid 3px #fff;
    color: #fff;
  }
  .header .imgs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    max-width: 90;
  }
  .header .imgs img {
    height: 35.4vw;
  }
  .story {
    margin: 3%;
  }
  .story .head h5 {
    font-size: 2em;
    max-width: 100%;
  }
  .story .head h6 {
    font-size: 1.5em;
    width: 100%;
  }
  .story .content {
    max-width: 100%;
  }
  .story .content img {
    grid-row: span 2;
    height: 80%;
  }
  .story .content h6 {
    margin-top: 45%;
    font-size: 1.5em;
  }
  .story .leftImg img {
    display: none;
  }
  .close {
    margin-bottom: 0;
  }
  .close .head h4 {
    font-size: 2.8em;
  }
  .close .head h5 {
    font-size: 1.5em;
    max-width: 100%;
  }
  .close .head h6 {
    font-size: 1.3em;
  }
  .close .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .close .container .person img {
    max-width: 50em;
  }
  .close .container .person:nth-child(2) {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .close .container .person:nth-child(3) {
    -ms-grid-column: 1;
    grid-column: 1;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
  .close .container .person:first-child {
    -ms-grid-column: 2;
    grid-column: 2;
    right: 0;
    -webkit-transform: scale(0.5) translate(-50%);
            transform: scale(0.5) translate(-50%);
    opacity: 0;
  }
  .close .container .person:first-child.animationActive {
    -webkit-transform: scale(1) translate(-50%);
            transform: scale(1) translate(-50%);
    -webkit-transition: 1.3s;
    transition: 1.3s;
    opacity: 1;
  }
  .close .container .person:nth-child(4) {
    -ms-grid-column: 3;
    grid-column: 3;
    -webkit-transform: translate(-150%, -50%);
            transform: translate(-150%, -50%);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .close .container .person:nth-child(4).animationActive {
    -webkit-transform: translate(-120%, 50%);
            transform: translate(-120%, 50%);
    -webkit-transition: 1.8s;
    transition: 1.8s;
    opacity: 1;
  }
  .client {
    margin: 19% 1%;
  }
  .client .head h5 {
    font-size: 2.9em;
  }
  .client .head h6 {
    font-size: 1.5em;
  }
  .client .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .client .container .imgContainer {
    margin: 7% 0;
  }
  .client .container .imgContainer img {
    width: 90%;
  }
  .client .container .imgContainer h5 {
    font-size: 1.8em;
    margin-top: 1%;
  }
  .client .container .imgContainer h6 {
    font-size: 1.2em;
    max-width: 100%;
  }
  .client .container .imgContainer a {
    font-size: 1.3em;
  }
  .client .container .imgContainer:first-child {
    -webkit-transform: translate(0, 90%);
            transform: translate(0, 90%);
  }
  .client .container .imgContainer:first-child.animationActive {
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
  }
  .client .container .imgContainer:nth-child(2) {
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
  }
  .client .container .imgContainer:last-child {
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
  }
  .client .container .imgContainer:last-child.animationActive {
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-transition: 1.3s;
    transition: 1.3s;
    opacity: 1;
  }
  .creation .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 1%;
    margin-left: 12%;
  }
  .creation .container img {
    height: 100%;
  }
  .creation .container img:first-child {
    margin-left: 10%;
  }
  .creation .container img:nth-child(2) {
    height: 100%;
    justify-self: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 0;
    z-index: 1;
  }
  .creation .container img:last-child {
    margin-left: 0%;
    margin-left: -20%;
  }
  .like {
    margin-top: 5%;
  }
  .like .head {
    margin-left: 7%;
  }
  .like .head h5 {
    font-size: 2.5em;
  }
  .like .head h6 {
    font-size: 1.7em;
    max-width: 100%;
  }
  .like .form {
    margin-left: 7%;
  }
  .like .form input {
    height: 5rem;
    width: 11rem;
    font-size: 1.5em;
  }
  .like .form input:last-child {
    width: 50vw;
    background-color: #C39F79;
    color: #fff;
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */